*{
    margin: 0px;
}

header{
    height: 100px;
    background-color: #4EA0FF;
    background-image:url("../img/pattern.png");
    background-size:390px;
    background-position: right top;
    background-position-x: 75px;
}

#logo{
    height: 60%;
    padding-top: 30px;
}