*{
    margin-left: 0px;
    margin-right: 0px;
}


body{
    margin-top: 0px;
}
/* header */
header{
    height: 100px;
    background-color: #4EA0FF;
    background-image:url("../img/pattern.png");
    background-size:390px;
    background-position: right top;
    background-position-x: 75px;
}

#logo{
    height: 60%;
    padding-top: 30px;
    padding-left: 22.4%;
}

/* main */
main{
    width: 55%;
    margin: auto;
}

h1{
    font-size: 40px;
    
}

.autore{
    color:#838383;
}

#booleaner{
    color: #24AAE5;
}

.didascalia{
    font-size: 12px;
}

.testo-giallo{
    background-color: yellow;
}

ul{
    padding-left: 15px;
}

thead{
    color: white;
    background-color:#20A9E5;
}
table{
    border-spacing: 0px;
    text-align: left;
    width: 100%;
}

/* seleziona gli elementi dispari di ogni tr figlio  di tbody */
tbody tr:nth-child(odd){
    background-color:#B1E5F2;
  }

.testo-grigio{
    color: grey;
    font-weight: bold;
    font-size: 17px;
}

.img-container{
    height: 220px;
    width: 270px;
    color: white;
    font-size: 25px;
    font-weight: bold;

}
#immagine1{
     background-image: url(../img/monitor.jpg);
     background-repeat: no-repeat;
}
#immagine2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
}